<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}" />
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>

<body>
<header class="page-header">
    <div class="banner">SLURM Companion Utilities</div>

    <div class="login-mask">
    {% if form %}
        <div class="login-form">
            Login:
            <form action={% url 'siteindex' %} method="post">
                {% csrf_token %}

                {{ form }}
                <input type="submit" value="Login"/>
            </form>
        </div>
    {% elif not login_failed %}
        <div class="login-msg">Logged in as <span class="username">{{ username }}</span>.</div>
        <form action="" method="get">
            <input type="hidden" name="logout" />
            <input type="submit" value="Logout" class=".logout-btn" />
        </form>
    {% endif %}

    {% if login_failed %}
        <div class="warning">Login failed!</div>
    {% endif %}
    </div>
</header>

<nav class="nav">
    <ul>
        <li>
            <a href={% url 'infopageindex' %}>Info</a>
        </li>
        <li>
            <a href="">About</a>
        </li>
        {% if logged_in %}
        <li>
            <a href={% url 'settingspage' %}>My Account</a>
        </li>
        <li>
            <a href={% url 'webcmd:cmd' %}>Command Prompt</a>
        </li>
        <li>
            <a>File Manager</a>
        </li>
        <li>
            <a>SLURM UI</a>
        </li>
        <li>
            <a>SLURM Statistics</a>
        </li>
        <li>
            <a href={% url 'supportindex' %}>Support</a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="page-footer">
    <div class="footer-text">
        Copyright 2016-2017 Thomas Mertz
    </div>
</footer>
</body>
</html>