<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}" />
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>

<body>
<header class="page-header">
    SLURM Companion Utilities
</header>

<div class="nav">
    <ul>
        <li>
            <a href={% url 'infopageindex' %}>Info</a>
        </li>
        <li>
            <a href={% url 'settingspage' %}>My Account</a>
        </li>
        <li>
            <a href={% url 'cmd' %}>Command Prompt</a>
        </li>
        <li>
            <a>File Manager</a>
        </li>
        <li>
            <a>SLURM UI</a>
        </li>
        <li>
            <a>SLURM Statistics</a>
        </li>
        <li>
            <a href={% url 'supportindex' %}>Support</a>
        </li>
    </ul>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="page-footer">
    <div class="footer-text">
        Copyright 2016 Thomas Mertz
    </div>
</footer>
</body>
</html>