{% extends 'navigation.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'mainpage.css' %}" />

{% block content %}
    <div class="content">
    {% if form %}
        <div id="login-form">
            Login:
            <form action={% url 'siteindex' %} method="post">
                {% csrf_token %}

                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Login"/>
            </form>
        </div>
    {% elif not login_failed %}
        <div class="login-msg">Logged in as <span class="username">{{ username }}</span>.</div>
        <form>
            <input type="submit" value="Logout" action="&logout" style="background: none" />
        </form>
    {% endif %}

    {% if login_failed %}
        <div class="warning">Login failed!</div>
    {% endif %}
    </div>
{% endblock %}