
@media(min-width:977) {
.box {
    width: 30%;
    margin: auto, auto;
    text-align: center;
    border: 1px, solid, black;
}

.user-option {
    background-color: lightgrey;
}

.user-option:hover {
    background-color: white;
    border-color: grey;
}
}