#cmdWindow {
    background-color: black;
}

@media(min-width:977) {
#cmdWindow {
    height: 20em;
    width: 50em;
}
}

#cmdWindow p {
    font-family: Courier;
    color: white;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 2px;
}

#cmdPrompt {
    font-family: Courier;
}

.server_list {
    margin: auto, auto;
    width: 100%;
    background-color: white;
}

.server_list tr {
    padding: 1em;
}

.server_list tr.profile_row:hover {
    background-color: #eeeeee;
}

.server_list td {
    padding: 1em;
}
