{% extends 'navigation.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'webcmd/css/style.css' %}" />
{% endblock %}

{% block content %}

<h3>Select profile</h3>
<div class="autooverflow">
<table class="server_list">
    <tr><th class="select-all col-select"><input type="checkbox" />Select all</th><th>Profile Name</th><th>URL</th><th>Availability/Status</th><th></th><th></th></tr>
{% for server in server_list %}
        <tr class="profile_row">
            <td class="col-select"><input type="checkbox" /></td><td>{{server.0.profile}}</td><td>{{server.0.server.server_url}}</td>
        <td>
            {% if server.1 %}
            <span class="status-ok-icon"><img src="{% static 'webcmd/img/status-green-icon.png' %}" alt="{{server.1}}" /></span>
            {% else %}
            <span class="status-notok-icon"><img src="{% static 'webcmd/img/status-red-icon.png' %}" alt="{{server.1}}" /></span>
            {% endif %}
        </td>
        <td>Edit</td>
        <td><span class="delete-x"><img src="{% static 'webcmd/img/delete-x.png' %}" alt="Delete" /></span></td>
        </tr>
{% endfor %}
</table>
</div>

<form action="" method="GET">
    <select>
        <option value="delete">Delete</option>
    </select>
    <button type="submit">Go</button>
</form>
{% endblock %}