{% extends "navigation.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'webcmd/css/style.css' %}" />
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'webcmd/js/cmdscript.js' %}"></script>
{% endblock %}


{% block content %}
<h4>Active Shell</h4>
<!--<form action="/cmd/cmd" method="post">
    {% csrf_token %}
    
    <div class="commandline">
        {% for c in cmd_res_list %}
            {% for cl in c.0 %}
                <div class="command">{{ cl }}</div>
            {% endfor %}
            {% for rl in c.1 %}
                <div class="response">{{ rl }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    {{ form }}
    
</form>-->
<div id="cmdWindow">
        
</div>
<span id="cmdPrompt"></span>
<input type="text" id="command_input" />
<input type="button" id="submit_cmd" onclick="submit()" value="Submit" />


<form action="/cmd/clear" method="post">
    {% csrf_token %}
    <input type="submit" value="Clear history" />
</form>

{% endblock %}